
*::before, *::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	background-color: #eceef4;
	color:#9098b8;
	font-family: 'Proxima Nova', 'Calibri', sans-serif;
	letter-spacing: 1px;
}

/*HEADER*/

header {
	width: 80%;
	margin: 70px auto;

}



header button:first-of-type::before {
	font-family: 'FontAwesome';
	margin-right: 15px;
 	 content:'\f177';
}

header button:last-of-type::before {
	font-family: 'FontAwesome';
	margin-right: 15px;
  	content:'\f007';
}

.click-buttons {
	font-weight: bold;
	border:1px solid #c9d0e1;
	border-radius: 5px;
	padding: 15px 30px;
	text-transform: uppercase;
	cursor: pointer;
}

.right-button {
	float: right;
	text-align: right;
}

header button {
	border:none;
	background:none;
	font-weight: bold;
	text-transform: uppercase;
	color: #9098b8;
}


header div {
	width: 33%;
	display: inline-block;
	vertical-align: middle;
}

.logo {
	text-align: center;
}

header img, footer img {
	max-width: 100px;
	max-height: 100px;
}

main {
	width:80%;
	margin: 0 auto;
	background-color: #fff;
	border: 1px solid #c9d0e1 ;
	border-radius: 5px;
}


/*ORDER SECTION*/

.order-section {
	background-color: #fff;
	border-bottom: 1px solid #c9d0e1;
}

.oder-title {
	
}

h3 {
	color: #6e768f;
	margin: 0;
	position:relative;
	font-size: .8rem;
	text-transform: uppercase;
}

h3::before {
  content: '\f0ea';
  font-family: FontAwesome;
  position: absolute;
  font-size: 1.3rem;
  left: -35px;
  font-weight: normal;
  top: -5px;
}




.your-order{
	display: inline-block;
	vertical-align: middle;
	width: 60%;
	padding: 30px 15px 30px 50px;
	/*border-right:1px solid #c9d0e1;*/
}
.your-order-table {
	font-size: .8rem;
	margin-right: 80px;
}

.your-order-table ,.your-order-buttons {
	vertical-align: middle;
	display: inline-block;
}

.your-order-table .item,
.file-table .item {
		display: inline-block;
		vertical-align: middle;
		margin-right: 20px;
		margin-top: 30px;
}

.your-order-table .item p,
.file-table .item p {
	text-transform: uppercase;
	font-weight: bold;
	color: #6e768f;

}
.your-order-buttons{
	width:167px;
}
button.place-order-button {
	
	color: #fff;
	background: #5fcac6;
	cursor: pointer;
	width: 167px;

}
button.print-button{
	color:#a5abc5;
	background: #f7f7fa;
	cursor: pointer;
	width: 167px;
}
.low-button {
	margin-top: 15px;




	
}
.help-center {
	width: 24%;
	display: inline-block;
	vertical-align: middle;
	font-size: .8rem;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 50px;
	border-left: 1px solid #c9d0e1;
}

.help-center p {

    margin-top: 25px;

}

.help-center h3::before{
	content:  '\f1cd';
}
.help-center address a {
	font-style: normal;
	text-decoration: none;
	color: #727895;
}

/*TYPE OF DOCUMENT SECTION;*/
fieldset {
	width: 80%;
	margin-top: 70px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
	padding:0;
	border:none;
}
.type-document {
	text-align: center;	
}

h1, h2 {
  position: relative;
  margin: 0;
  color: #6e768f;
  font-size: 1.3rem;
}

h1 {
  padding: 0 10px 10px 10px;
  text-transform: uppercase;
  border-bottom: 1px solid #d7d8e0;
  letter-spacing: 3px;
  display: inline;
}

.choose-wrapper {
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
}
/*type of cursor*/
input[type=checkbox],
button, select, label {
  cursor: pointer;
}
/*cursor type*/

.choose-wrapper label {
	width: 30%;
	height: 150px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	padding-top: 20px;
	padding-bottom: 20px;
	border: 1px solid #d7d8e0;
	border-radius: 5px;
	background: #f7f7fa url('images/documents.png') no-repeat center 30%/40%;
	
}

.choose-wrapper label:last-of-type {
	background: #f7f7fa url('images/social_account.png') no-repeat center 30%/40%;
}

input[type=radio]:checked + label {
    position: relative; 
   border: 5px solid  #76a7e1 ;
}

input[type=radio]:checked + label::after {
	content:url('images/checked.svg');
	position: absolute;
	top: 0;
  right: 0;
  transform: translate(50%, -50%);
  background-color: #76a7e1;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 6px;
}


/*UPLOADING DOCUMENTS*/


h2 {
  counter-increment: heading;
}

h2::before {
  content: counter(heading);
  position: absolute;
  left: -3.5rem;
  top: -5px;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #6e768f;
  border-radius: 50%;
  font-size: 1rem;
}





.upload span {
	font-size: .9rem;
	color:#6e768f;
	font-weight: normal;
	margin-left: 10px;
}

.upload label{
	display: inline-block;
	margin-top: 40px;
	padding: 15px 30px;
	border:1px solid #d7d8e0;
	border-radius: 5px;
	background-color:#f7f7fa;
}

.upload label::before {
	content: '\f0ee';
	font-family: 'FontAwesome';
	margin-right: 10px;
}


.file-table {
	border:1px solid #d7d8e0 ;
	border-radius: 5px;
	padding: 20px 60px;
	margin-top: 30px;
}

.file-table .item {
	display: inline-block;
	vertical-align: middle;
	margin-right: 90px;
	/*margin-top: 30px;*/
}

.file-table div:last-child {
	margin-right: 0;
}

.file-table .item p {
	text-transform: uppercase;
	font-size: .7rem;
	color: #6e768f;
	margin-bottom: 30px;
}
.file-table .item span {
	margin-left: 0;
	margin-top: 20px;
	letter-spacing: 
}

.trash {
	border: none;
	background: none;
	color: #9098b8;
	text-transform: uppercase;
	font-weight: bold;
}
.trash::before {
	font-family: 'FontAwesome';
	content: '\f014';
	font-size: .9rem;
}

.file-table div:first-child span::before {
  	content: '\f15c';
  	font-family: FontAwesome;
  	font-size: .9rem;
  	margin-right: 15px;
  	position: relative;
  	top: 0px;
}